<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHeader">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" th:href="@{/static/plugin/layui/css/layui.css}"
	href="static/plugin/layui/css/layui.css" />
<link rel="stylesheet" th:href="@{/static/css/common.css}"
	href="../../../static/css/common.css" />
<link rel="stylesheet"
	th:href="@{/static/plugin/ztree/css/zTreeStyle/zTreeStyle.css}"
	href="../../../static/plugin/ztree/css/zTreeStyle/zTreeStyle.css" />

<script type="text/javascript"
	th:src="@{/static/bootstrap3.0/js/jquery-3.3.1.min.js}"
	src="../../../static/bootstrap3.0/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.form.js}"
	src="../../../static/js/jquery.form.js"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.tips.js}"
	src="../../../static/js/jquery.tips.js"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery.print.js}"
	src="../../../static/js/jQuery.print.js"></script>
<script type="text/javascript"
	th:src="@{/static/js/excellentexport.min.js}"
	src="../../../static/js/excellentexport.min.js"></script>
<script type="text/javascript" th:src="@{/static/layer/layer.js}"
	src="../../../static/layer/layer.js"></script>
<script type="text/javascript" th:src="@{/static/plugin/layui/layui.js}"
	src="../../../static/plugin/layui/layui.js"></script>
<script type="text/javascript"
	th:src="@{/static/plugin/ztree/js/jquery.ztree.all.min.js}"
	src="../../../static/plugin/ztree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/layDateUtil.js}"
	src="../../../static/js/layDateUtil.js"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"
	src="../../../static/js/common.js"></script>
<script type="text/javascript" th:inline="javascript">
	const ctx = [[${#httpServletRequest.getContextPath()}]];
</script>
</head>
</html>